header {
    position: sticky;
    z-index: 1;
    width: 100%;
    display: block;
    background-color: white;
    height: 64px;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    
}

header .content {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 32px;
    
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

header a {
    height: 32px;
    display: flex;
    align-items: center;
}

.start-section {
    max-width: 100%;
    padding: 32px 24px;
    display: flex;
}

.start-section img {
    width: 60%;
    margin-right: 24px;
    
}

.start-menu {
    
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-menu h4 {
    padding: 8px 0;
    background-color: gray;
    text-align: center;
    color: white;
}

.information-section {
    max-width: 100%;
    padding: 32px 0px 32px 24px;
    border: red 1px solid;
}

.banner {
    width: 60%;
    border: blue 1px solid;
}
.banner img {
    width: 100%;
}

.banner p {
    width: 100%;
}