header {
    position: sticky;
    z-index: 1;
    width: 100%;
    display: block;
    background-color: white;
    height: 64px;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    
}

header .content {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 32px;
    
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

header a {
    height: 32px;
    display: flex;
    align-items: center;
}

.start-section {
    max-width: 100%;
    padding: 32px 24px;
    display: flex;
    background-color: lightgray;
}

.start-section img {
    width: 60%;
    margin-right: 24px;
    
}

.start-menu {
    
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-menu h4 {
    padding: 8px 0;
    background-color: gray;
    text-align: center;
    color: white;
}

.information-section {
    max-width: 100%;
    padding: 32px 0px 32px 24px;
    display: flex;
}

.banner {
    width: 60%;
    padding-right: 24px;
    padding-bottom: 32px;
}
.banner img {
    width: 100%;
    
}

.banner p {
    width: 100%;
}

.banner h1 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.announcement-list {
    width: 40%;
    border-left: lightgray 1px solid;
    margin-top: -32px; 
    margin-bottom: -32px; 
    padding-top: 32px; 
    padding-bottom: 32px;
}

.announcement-card {
    display: flex;
    padding: 16px;
    align-items: center;
}

.announcement-card:hover {
    background-color: lightgrey;
}

.announcement-card img {
    width: 35%;
    height: auto;
    display: block;
}

.card-text {
    margin-left: 16px;
    width: 65%;
    text-align: left;
    margin-bottom: 25px;    
}

.card-text a {
    color: blue;
}

.courses {
    background-color: lightgray;
    padding-bottom: 32px;
}

.courses h1 {
    width: 100%;
    display: block;
    text-align: center;
    padding: 32px 0px;
    margin: 0;
}

.card-container {
    margin: 0 72px 32px 72px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 32px;
}

.learning-card {
    width: 30%;
    background-color: white;
    
}

.learning-card img {
    max-width: 100%;
}

.learning-card .text-container {
    margin: 16px auto 24px 16px;
}

.thesis h1 {
    width: 100%;
    display: block;
    text-align: center;
    padding: 32px 0px;
    margin: 0;
}

.video-container {
    width: 60%;
    
}

video {
    max-width: 100%;
}

.video-text {
    text-align: left;
    margin: 24px 0px 32px 0px;
}

.thesis-container {
    width: 40%;
}

.thesis-card {
    display: flex;
    padding: 16px;
    align-items: center;
    background-color: white;
}

.thesis-card:hover {
    background-color: lightgray;
}

.thesis-card img {
    width: 35%;
    height: auto;
    display: block;
}

.thesis-text-container, .thesis-text-container h1 {
    margin-left: 16px;
    width: 65%;
    text-align: left;
    margin-bottom: 0px;
}

.thesis-content {
    max-width: 100%;
    padding: 32px 0px 32px 24px;
    display: flex;
    gap: 24px;
}

.thesis {
    border-bottom: lightgray 1px solid;
}

footer {
    margin: 16px 24px;
}

footer .content-container {
    display: flex;
    justify-content: space-between;
}

.terms-privacy {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}